.allaboutme {
  display: flex;
  flex-direction: column;
}

.coloredsess {
  display: flex;
  flex-direction: row;
  position: relative;
  font-family: 'Bricolage Grotesque', sans-serif;
}

.catchphrase {
  color: white;
  font-size: 35px;
  font-family: 'Bricolage Grotesque', sans-serif;
  font-weight: 400;
  margin-top: -20px;
  width: 60%;
}

.sideimg img {
  width: 300px;
  position: absolute;
  right: 50px;
  top: 0;
  overflow: hidden;
}

.sideimg2 img {
  width: 400px;
  position: absolute;
  left: 20px;
  overflow: hidden;
}

.hiretext {
  display: flex;
  flex-direction: column;
}

.viewbtnlg {
  margin-top: -10px;
}
.viewbtnlg a {
  text-decoration: none;
  font-size: 18px;
}

.viewshotabtnlg {
  background-color: transparent;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  min-height: 2px;
  -webkit-box-align: center;
  align-items: center;
  width: 165px;
  height: 50px;
  outline: none;
  border: none;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  border: #d6d93b solid 1px;
}

.viewshotabtnlg::before {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 32px;
  height: 50px;
  background: rgba(214, 217, 59, 0.27);
  border-radius: 5px;
  transition: width 1s cubic-bezier(0.24, 0.97, 0.75, 0.2) 0s;
}

.viewshotabtnlg:hover::before {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 165px;
  height: 50px;
  background: rgba(214, 217, 59, 0.27);
  border-radius: 5px;
  /* transition: width 1s cubic-bezier(0.24, 0.97, 0.75, 0.2) 0s; */
  cursor: pointer;
}

.aboutmendimg {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 50px;
  position: relative;
}

.aboutmep {
  width: 60%;
  margin-top: 80px;
  line-height: 30px;
  font-family: 'fira sans condensed', sans-serif !important;
}

.allaboutme {
  padding: 20px 30px;
}

.coloredabout {
  color: #d6d93b;
}

@media (max-width: 1000px) {
  .allaboutme {
    margin-top: 80px;
  }
}

@media (max-width: 900px) {
  .aboutmep {
    width: 70%;
    margin-top: 40px;
  }
  .catchphrase {
    color: white;
    font-size: 35px;
    font-weight: 400;
    margin-top: -20px;
    width: 100%;
  }

  .coloredsess {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
  }

  .sideimg img {
    width: 200px;
    position: absolute;
    right: -20px;
    z-index: 100;
    top: 0;
  }

  .sideimg2 img {
    width: 150px;
    position: absolute;
    left: -40px;
    top: 20px;
  }
}
@media (max-width: 720px) {
  .aboutmep {
    width: 100%;
    margin-top: 130px;
    font-size: 14px;
    font-weight: 200;
    font-family: 'fira sans condensed', sans-serif !important;
  }

  .sideimg img {
    width: 200px;
    position: absolute;
    right: -15px;
    z-index: 100;
    top: 0;
  }
  .catchphrase {
    color: white;
    font-size: 25px;
    font-weight: 400;
    margin-top: -20px;
    width: 85%;
  }
}

@media (max-width: 640px) {
  .sideimg img {
    width: 150px;
    position: absolute;
    right: -5px;
    z-index: 100;
    top: 0;
  }
}

@media (max-width: 450px) {
  .sideimg img {
    width: 130px;
    position: absolute;
    right: -20px;
    z-index: 100;
    top: 0;
  }

  .allaboutme {
    margin-top: -40px;
  }
}

@media (max-width: 430px) {
  .catchphrase {
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin-top: -20px;
    width: 85%;
  }

  .sideimg img {
    width: 120px;
  }
  .aboutmep {
    font-size: 14px;
  }
}

@media (max-width: 395px) {
  .sideimg img {
    width: 100px;
  }
}
