.bgtest {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  gap: 1px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.bgtest span {
  background: rgb(0, 0, 0);
  display: block;
  border-radius: 10px;
}

@media (max-width: 1000px) {
  .bgtest span {
    height: calc(12.5vw);
  }

  .bgtest {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }
}

@media (max-width: 600px) {
  .bgtest span {
    height: calc(20vw);
  }

  .bgtest {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
}
