.bannersection {
  width: 100%;
}

.deetndimg {
  justify-content: center;
  align-items: center;
  margin: 100px auto;
}

.headimg {
  margin: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  height: 100vh;
  top: 0;
  right: 0;
}

.headimg img {
  height: 100%;
  width: auto;
  object-fit: cover;
}

.headerp {
  margin-top: 80px;
}

.bigintro {
  font-weight: 400;
  font-size: 160px;
  font-family: 'Bricolage Grotesque', sans-serif;
  color: white;
  line-height: 100%;
  letter-spacing: 0.0001em;
}

.learnimg {
  display: flex;
  margin-top: 60px;
  /* justify-content: center; */
}

.learnimg img {
  max-width: 150px;
  justify-content: flex-end;
  margin-top: -36px;
  margin-left: 40px;
  height: 75px;
  display: flex;
}

.abouta {
  color: #d6d93b;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}

.learningp {
  font-size: 18px;
  color: white;
  font-family: 'fira sans condensed', sans-serif;
}

.bannersection {
  position: relative;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  z-index: 1;
  padding: 20px 40px;
}

.selfdetails {
  z-index: 2;
  position: relative;
}

.bigintro {
  font-weight: 400;
  font-size: 150px;
  color: white;
  margin: 30px 0;
}

.detailsp {
  font-size: 16px;
  opacity: 0.4 !important;
  width: 80%;
  line-height: 30px;
  color: white;
  font-family: 'Fira sans' sans-serif;
}

.learnimg {
  margin-top: 20px;
}

.learningp {
  font-size: 18px;
}

.headimg {
  position: absolute;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  right: 0;
}

.headimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

@media (max-width: 1200px) {
  .bigintro {
    font-weight: 400;
    font-size: 110px;
    color: white;
    margin: 30px 0;
  }
}

@media (max-width: 1120px) {
  .bigintro {
    font-weight: 400;
    font-size: 100px;
    color: white;
    margin: 30px 0;
  }
}

@media (max-width: 1000px) {
  .bannersection {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    padding: 20px 40px;
    margin-top: 20px;
  }

  .deetndimg {
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    height: 100vh;
  }
  .headimg {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    right: 0;
    top: 0;
  }

  .headimg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0.8;
  }
  .selfdetails {
    width: 100%;
    font-size: 18px;
    line-height: 219.2%;
    margin-top: 35px;
    margin-bottom: 50px;
    color: white;
    position: relative;
  }

  .learnimg img {
    max-width: 150px;
    justify-content: flex-end;
    margin-top: -30px;
    margin-left: 20px;
    height: 75px;
  }

  .learnimg {
    display: flex;
    margin-top: 0px;
    justify-content: center;
  }

  .detailsp {
    font-size: 16px;
    opacity: 0.4 !important;
    width: 100%;
  }

  .learningp {
    font-size: 20px;
  }

  .bigintro {
    text-align: center;
  }
  .deetndimg {
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
  }

  .headimg {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0px auto 0px auto;
    width: 100%;
  }
  .headimg img {
    width: 60%;
  }

  .bigintro {
    font-weight: 400;
    font-size: 100px;
    color: white;
    margin: 5px 0;
  }

  .headerp {
    margin-top: -200px;
  }
}

@media (max-width: 810px) {
  .bigintro {
    font-weight: 400;
    font-size: 90px;
    color: white;
    margin: 5px 0;
    text-align: center;
  }

  .headimg {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: -190px auto 0px auto;
    width: 100%;
  }
}

@media (max-width: 550px) {
  .deetndimg {
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    display: flex;
    flex-direction: column-reverse;
  }

  .headimg img {
    width: 80%;
  }

  .detailsp {
    line-height: 205%;
    margin-top: 25px;
    font-family: 'Fira Sans Condensed';
    font-weight: 100;
    font-size: 14px;
  }

  .learnimg img {
    display: none;
  }

  .bigintro {
    font-weight: 400;
    font-size: 70px;
    color: white;
    margin: 5px 0;
  }
  .learnimg {
    display: flex;
    margin-top: 30px;
  }
  .learningp {
    font-size: 15px;
  }
  .selfdetails {
    width: 100%;
    font-size: 18px;
    line-height: 219.2%;
    margin-top: -45px;
    margin-bottom: 10px;
    color: white;
    position: relative;
  }
}

@media (max-width: 500px) {
  .bigintro {
    font-weight: 400;
    font-size: 65px;
    color: white;
    margin: 5px 0;
    text-align: center;
  }

  .learnimg img {
    max-width: 150px;
    justify-content: flex-end;
    margin-top: -0px;
    margin-left: 0px;
    height: 55px;
    position: absolute;
    right: -90px;
    overflow: hidden;
  }

  .learningp {
    font-size: 13px;
  }
}

@media (max-width: 450px) {
  /* .selfdetails {
    margin-top: 35px;
  } */

  .bigintro {
    font-weight: 400;
    font-size: 55px;
    color: white;
    margin: 5px 0;
    text-align: center;
  }

  .learningp {
    font-size: 14px;
  }
}

@media (max-width: 430px) {
  .learningp {
    font-size: 13px;
    text-align: center;
  }

  .bigintro {
    font-weight: 400;
    font-size: 55px;
    color: white;
    margin: 5px 0;
    text-align: center;
  }
}

@media (max-width: 415px) {
  .bigintro {
    font-weight: 400;
    font-size: 48px;
    color: white;
    margin: 5px 0;
    text-align: center;
  }
}

@media (max-width: 400px) {
  .bigintro {
    font-weight: 400;
    font-size: 45px;
    color: white;
    margin: 5px 0;
    text-align: center;
  }
}

@media (max-width: 290px) {
  .detailsp {
    font-size: 12px;
  }

  .learningp {
    font-size: 12px;
  }

  .bigintro {
    font-weight: 400;
    font-size: 30px;
    color: white;
    margin: 5px 0;
  }
}
