:root {
  --mtn-yellow: #ffd700;
  --glow-color: #d6d93b66;
}

.hero-section {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #000;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arc-background-wrapper {
  position: absolute;
  bottom: 0%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1;
  pointer-events: none;
}

.arc-background {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  opacity: 0.9;
  z-index: 1;
}

.arc-glow {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 300px;
  background: radial-gradient(circle, var(--glow-color) 0%, transparent 70%);
  opacity: 0.5;
  filter: blur(100px);
  z-index: 2;
}

.herotextimage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 110px;
  z-index: 3;
}

.hero-image-container {
  position: relative;
  z-index: 3;
  width: 320px;
  max-width: 85vw;
  opacity: 0;
  /* display: none; */
}

.hero-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.fade-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background: linear-gradient(to bottom, transparent, #000);
}

.hero-texti {
  width: 100%;
  max-width: 900px;
  text-align: center;
  color: #fff;
  /* margin-bottom: 10px; */
}

.hero-texti h1 {
  font-size: clamp(32px, 5vw, 66px);
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 1rem;
  font-family: 'Bricolage Grotesque', sans-serif;
  padding: 0px 10px;
  margin-top: 40px;
}

.hero-texti .description {
  max-width: 700px;
  margin: 10px auto;
  font-size: 16px;
  opacity: 0.85;
  line-height: 1.5;
  font-family: 'Geist', sans-serif;
  padding: 10px;
}

.cta-button {
  display: inline-block;
  padding: 12px 28px;
  background-color: var(--mtn-yellow);
  color: #000;
  font-weight: 700;
  text-decoration: none;
  border-radius: 6px;
  transition: background 0.3s ease;
  font-family: 'Geist', sans-serif;
}

.cta-button:hover {
  background-color: #fff200;
}

@media (max-width: 768px) {
  .arc-background {
    max-width: 300%;
  }

  .arc-glow {
    height: 200px;
    filter: blur(80px);
  }

  .hero-image-container {
    width: 220px;
  }

  .cta-button {
    padding: 10px 24px;
    font-size: 0.95rem;
  }

  .herotextimage {
    margin-top: 40px;
  }
}

@media (max-width: 500px) {
  .arc-background {
    width: 300%;
    overflow: hidden;
    opacity: 1;
  }

  .arc-background-wrapper {
    width: 300%;
    overflow: hidden;
  }

  .arc-glow {
    height: 150px;
    filter: blur(60px);
  }

  .hero-image-container {
    width: 180px;
    opacity: 0;
  }
}
