.NavBar {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 50px 50px;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
  z-index: 1000;
  /* background-color: rgb(24, 2, 47); */
}

.logoimg {
  width: 30px;
  /* margin-top: 30px; */
  /* padding: 30px; */
}


.NavBar.scrolled {
  background-color: rgb(24, 2, 47, 0.8); /* Change to the desired background color */
}


.NavBar ul {
    
        list-style-type: none;
        margin: 0;
        padding: 0;
     
      }

      .NavBar a {
        color: white;
        text-decoration: none;
      }

      .NavBar .Navigation li {
        padding: 14px 16px;
        gap: 100px;
        display: flex;
        text-align: center;
        margin: auto;
        font-size: 14px;
    }
      
.NavBar .Navigation ul {
        display: flex;
        flex-direction: row;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        gap: 20px;
      }

      .NavBar .MobileNavigation li {
        padding: 14px 16px;
        gap: 30px;
        display: flex;
        text-align: center;
        margin: auto;
        font-size: 23px;
    }

      .NavBar .MobileNavigation ul {
        display: flex;
        flex-direction: column;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        gap: 20px;
      }


  .NavBar .MobileNavigation {
    display: none;
  }


  @media (max-width: 990px){

    .NavBar .Navigation {
      display: none;
    }

    .NavBar .MobileNavigation {
      display: flex;
      /* flex-direction: column; */
      /* background-color: red; */
      align-items: center;
      /* min-width: 20px; */
    }

    .NavBar .MobileNavigation .Hamburger  {
      position: absolute;
      right: 5%;
      cursor: pointer;
      z-index: 1000;
    }

    .NavBar nav ul {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 80px;
      right: 0;
      width: 100%;
      
      background-color: rgb(24, 2, 47, 0.8)

}
  
.NavBar nav ul list  {
   padding-left: 15%;
}

.NavBar  {
  opacity: 1;
}
  }