.NavBar ul {
    
        list-style-type: none;
        margin: 0;
        padding: 0;
     
      }

      .NavBar a {
        color: white;
        text-decoration: none;
      }

      .NavBar .Navigation li {
        padding: 14px 16px;
        gap: 100px;
        display: flex;
        text-align: center;
        margin: auto;
        font-size: 23px;
    }
      
.NavBar .Navigation ul {
        display: flex;
        flex-direction: row;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        gap: 20px;
      }

      .NavBar .MobileNavigation ul {
        display: flex;
        flex-direction: column;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        gap: 20px;
      }


    .NavBar .MobileNavigation ul {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    font-size: 23px;

  }

  .NavBar .MobileNavigation {
    display: none;
  }


  @media(max-width:990px){

    .NavBar .Navigation {
      display: none;
    }

    .NavBar .MobileNavigation ul{
      display: block;
      background-color: red;
      /* min-width: 20px; */
    }
  
  }
     