.NavBar {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 50px 50px;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
  z-index: 1000;
  /* background-color: rgb(24, 2, 47); */
}

/* .hoverline  {
  width: 100%;
  
  height: 10px;
} */

.logoimg {
  width: 30px;
  /* margin-top: 30px; */
  /* padding: 30px; */
}


.NavBar.scrolled {
  background-color: rgb(24, 2, 47, 0.8); /* Change to the desired background color */
}


.NavBar ul {
    
        list-style-type: none;
        margin: 0;
        padding: 0;
     
      }

      .NavBar a {
        color: white;
        text-decoration: none;
        display:block;
        position: relative;
      }

      .NavBar .Navigation li {
        padding: 14px 16px;
        /* gap: 100px;
        display: flex; */
        text-align: center;
        margin: auto;
        font-size: 14px;
    }
      
.NavBar .Navigation ul {
        display: flex;
        flex-direction: row;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        gap: 20px;
      }

      .NavBar .MobileNavigation li {
        padding: 14px 16px;
        /* gap: 30px;
        display: flex;
        text-align: center;
        margin: auto; */
        font-size: 30px;
        cursor: pointer;
    }

    /* .NavBar .MobileNavigation li { */

      .NavBar .MobileNavigation ul {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    gap: 20px;
    padding-top: 150px;
      }


  .NavBar .MobileNavigation {
    display: none;
  }

  a:hover>span {
    width: 100%;
  }
  
  a span  {
    background-color: #d6d93b;
    position: absolute;
      bottom: 0;
      height: 2px;
      left: 0;
      transition: width 1s;
  }


  @media (max-width: 990px){

    .NavBar .Navigation {
      display: none;
    }

    .NavBar .MobileNavigation {
      display: flex;
      /* flex-direction: column; */
      /* background-color: red; */
      align-items: center;
      /* min-width: 20px; */
    }

    .NavBar .MobileNavigation .Hamburger  {
      position: absolute;
      right: 5%;
      cursor: pointer;
      z-index: 1000;
      transition:all 3s ease;
    }

    .NavBar nav ul {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 1px;
      right: 0;
      width: 100%;
      height: 100vh;
      background-color: rgb(24, 2, 47, 0.8);

}
  
.NavBar nav ul list  {
   padding-left: 15%;
}

.NavBar  {
  opacity: 1;
}

.NavBar .MobileNavigation li:nth-child(even) {
  background: linear-gradient(to right,      
  #d6d93b 0%,  #FFFF 50%,  #d6d93b 100%);
  background-size: 200% auto;
  /* color: #000; */
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: mobileNavA 3s linear infinite;
  padding-left: 150px;
  }

  @keyframes mobileNavA {
    to {
      background-position: 200% center;
    }
}

.NavBar .MobileNavigation li:nth-child(odd) {
  background: linear-gradient(to right,      
  #FFFF 0%, #d6d93b 50%,  #FFFF 100%);
  background-size: 200% auto;
  /* color: #000; */
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: mobileNavB 3s linear infinite;
  padding-right: 100px;
  }

  @keyframes mobileNavB {
    to {
      background-position: 200% center;
    }
}

.NavBar .MobileNavigation li  {
  font-family: 'fira sans condensed', sans-serif;
  font-size: 35px;
  font-weight: 800;
}

.logoimg  {
  position: fixed;
    z-index: 100;
    top: 1%;
    width: 40px;
}
  }
  