.selectedptxt {
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 0px 60px;
}

.selectwhite {
  font-weight: 700;
  font-family: 'Bricolage Grotesque', sans-serif !important;
  font-size: 20px;
  color: white;
}

.dimselect {
  font-weight: 800;
  font-family: 'Bricolage Grotesque', sans-serif !important;
  font-size: 100px;
  color: rgba(155, 138, 171, 0.3);
  margin-top: -10px;
  margin-bottom: 0px;
}

@media (max-width: 550px) {
  .dimselect {
    font-weight: 800;
    font-family: 'Bricolage Grotesque', sans-serif !important;
    font-size: 60px;
    color: rgba(155, 138, 171, 0.3);
  }

  .selectwhite {
    font-weight: 700;
    font-family: 'Bricolage Grotesque', sans-serif !important;
    font-size: 14px;
    color: white;
  }

  .selectedptxt {
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 0px 30px;
  }
}

@media (max-width: 290px) {
  .dimselect {
    font-weight: 800;
    font-family: 'Bricolage Grotesque', sans-serif !important;
    font-size: 40px;
    color: rgba(155, 138, 171, 0.3);
  }

  .selectwhite {
    font-weight: 700;
    font-family: 'Bricolage Grotesque', sans-serif !important;
    font-size: 10px;
    color: white;
  }
}
