.toolspane {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px auto 30px auto;
  align-items: center;
  padding: 0px 50px;
}

.firsttoolp {
  margin-bottom: 30px;
}

.toolsp {
  color: white;
  font-family: 'fira sans condensed', sans-serif !important;
  font-size: 18px;
  font-weight: 300;
  width: 45%;
  line-height: 219.2%;
  text-align: justify;
  padding: 0px 20px;
}

.linethrough {
  width: 1px;
  background: rgba(255, 255, 255, 0.12);
  height: 650px;
  margin-left: 60px;
}

.toolsimages {
  width: 45%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.toolicons {
  width: 30%;
  margin: 25px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 10px;
}

.toolicons p {
  font-family: 'fira sans condensed', sans-serif !important;
  color: white;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}
.toolicons img {
  width: 45%;
  height: 45%;
  border: 3px solid rgba(150, 140, 127, 0.3);
  border-radius: 50%;
  margin-bottom: 2px;
}

.toolicons:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.iconname {
  font-size: 14px;
  color: #333;
  margin-top: 8px;
}

@media (max-width: 1000px) {
  .toolspane {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px auto 30px auto;
    align-items: center;
  }

  .toolsp {
    color: white;
    font-family: 'fira sans condensed', sans-serif !important;
    font-size: 18px;
    width: 100%;
    line-height: 219.2%;
    padding: 0px 20px;
  }

  .linethrough {
    width: 100%;
    background: rgba(255, 255, 255, 0.12);
    height: 1px;
    margin: 50px auto;
  }

  .toolsimages {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    align-items: center;
  }

  .toolicons {
    width: 30%;
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .toolicons p {
    color: white;
    font-weight: 300;
    font-size: 14px;
    font-family: 'fira sans condensed', sans-serif !important;
  }
}

@media (max-width: 768px) {
  .toolspane {
    padding: 20px 24px;
  }
}

@media (max-width: 550px) {
  .toolicons {
    width: 30%;
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .toolspane {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px auto 30px auto;
    align-items: center;
  }

  .toolsp {
    color: white;
    font-family: 'fira sans condensed', sans-serif !important;
    font-size: 14px;
    width: 100%;
    line-height: 219.2%;
    padding: 0px 0px;
  }

  .toolicons p {
    font-family: 'fira sans condensed', sans-serif !important;
    color: white;
    font-weight: 400;
    font-size: 14px;
  }
}

@media (max-width: 390px) {
  .toolicons {
    width: 45%;
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
